                        <div style="flex-flow: row wrap" class="box-border -mr-2 -ml-2 flex">
      <div style="
          max-width: 66.6667%;
          box-sizing: border-box;
          -webkit-box-flex: 1;
          flex-grow: 1;
          width: 100%;
        ">
                         <div style="box-sizing: border-box; margin: 0px">
          <h1 class="text-sm font-normal mb-3 leading-5 truncate text-gray-700">
            Toutes les catégories à vendre au Maroc (1154866 annonces)
          </h1>

                  <div style="-webkit-box-pack: justify" class="box-border flex flex-wrap mt-4 justify-between ml-auto mr-auto">
            <div style="
                flex: 0 0 calc(50% - 8px);
                box-sizing: border-box;
                margin-bottom: 16px;
                position: relative;
                border-radius: 8px;
                overflow: hidden;
                background-color: rgb(255, 255, 255);
                width: 100%;
                max-width: 560px;
              ">
              <a href="https://www.avito.ma/fr/tabriquet/appartements/aprtms_a_louer_à_tabriket__52585215.htm"
                class="bg-white rounded-md shadow-md overflow-hidden w-full max-w-md h-96 flex flex-col">
                <div style="box-sizing: border-box; position: relative">
                  <div class="h-56 box-border relative flex">
                    <div
                      class="absolute bottom-0 left-0 m-2 rounded-full bg-black bg-opacity-70 flex items-center px-2 py-1">
                      <svg class="h-5 w-5 text-white mr-1" style="fill: rgb(255, 255, 255)" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <title>Camera Icon</title>
                        <path
                          d="M9.3 4h5.4l1.647 1.778H19.2c.99 0 1.8.8 1.8 1.778v10.666C21 19.2 20.19 20 19.2 20H4.8c-.99 0-1.8-.8-1.8-1.778V7.556c0-.978.81-1.778 1.8-1.778h2.853L9.3 4zM12 17.333c2.484 0 4.5-1.99 4.5-4.444 0-2.453-2.016-4.445-4.5-4.445s-4.5 1.992-4.5 4.445c0 2.453 2.016 4.444 4.5 4.444zm0-1.777c1.491 0 2.7-1.194 2.7-2.667 0-1.473-1.209-2.667-2.7-2.667s-2.7 1.194-2.7 2.667c0 1.473 1.209 2.667 2.7 2.667z"
                          class="text-white"></path>
                      </svg>
                      <span class="text-white text-sm font-medium">8</span>
                    </div>
                    <img src="https://content.avito.ma/images/10/10092813864.jpg" alt="aprtms a louer à tabriket"
                      loading="lazy"
                      class="h-full w-full object-cover transition-opacity duration-250 ease-in-out opacity-100" />
                  </div>
                </div>

                <div class="relative overflow-hidden flex flex-col justify-between flex-grow" style="    margin: 0px 16px; -webkit-box-pack: justify;
                    -webkit-box-flex: 1;">
                  <div class="box-sizing: border-box">
                    <div class="flex items-center justify-between mt-4 mb-2" style="-webkit-box-align: center;
                                -webkit-box-pack: justify;">
                      <span
                        class="overflow-hidden whitespace-no-wrap leading-none text-blue-600 text-2xl font-normal m-0"
                        style="text-overflow: ellipsis;">
                        <div class="box-sizing: border-box">
                          <span dir="auto">2,900</span>
                          <span>DH</span>
                        </div>
                      </span>
                    </div>
                    <h3
                      class="text-left text-gray-700 block w-full text-base font-normal tracking-wide leading-normal mb-0">
                      <span dir="auto" class="overflow-hidden" style="    display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;">aprtms a louer à
                        tabriket</span>
                    </h3>

                  </div>

                  <div style="box-sizing: border-box">
                    <p
                      class="mt-3 mb-6 text-xs overflow-hidden whitespace-nowrap overflow-ellipsis text-gray-500 font-normal tracking-wider">
                      Appartements
                    </p>
                    <div class="box-border flex items-center leading-4 mt-2 mb-11">
                      <div style="
                          box-sizing: border-box;
                          display: flex;
                          -webkit-box-align: center;
                          align-items: center;
                        ">
                        <svg height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                          aria-labelledby="TimeFillTitleID" style="fill: rgb(155, 155, 155)"
                          class="stroke-0 overflow-hidden align-middle box-border w-3 h-3">
                          <title style="box-sizing: border-box">
                            TimeFill Icon
                          </title>
                          <path
                            d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm1-10V7h-2v7h6v-2h-4z"
                            style="box-sizing: border-box"></path>
                        </svg><span style="letter-spacing: 0.1px"
                          class="box-border mr-4 text-xs text-gray-500 font-normal ml-1">il y a 2 minutes</span>
                      </div>
                      <div style="-webkit-box-align: center" class="items-center flex">
                        <svg height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                          aria-labelledby="MapPinFillTitleID" style="
                            fill: rgb(155, 155, 155);
                            stroke: rgb(155, 155, 155);
                          " class="stroke-0 overflow-hidden align-middle box-border w-3 h-3">
                          <title style="box-sizing: border-box">
                            MapPinFill Icon
                          </title>
                          <path
                            d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1112.728 0zM12 15a4 4 0 100-8 4 4 0 000 8zm0-2a2 2 0 110-4 2 2 0 010 4z"
                            style="box-sizing: border-box"></path>
                        </svg><span style="letter-spacing: 0.1px"
                          class="box-border mr-4 text-xs text-gray-500 font-normal ml-1">Salé, Tabriquet</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>

 </div>

          </div>
 </div>
  </div>
    </div>

    <div style="
               right: 20px; -webkit-box-align: center;
             " class="h-8 box-border flex items-center absolute bottom-0">
      <div style="
                 min-width: 32px;
                 border: 0px none rgb(17, 17, 17);
                 font-family: Rubik, Roboto, Tajawal, -apple-system,
                   BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
                 padding: 0px 6px;
                 -webkit-box-pack: center;
                 -webkit-box-align: center;
                 border-radius: 18px;
                 outline-width: 0px;
               "
        class="box-border leading-4 text-black flex justify-center items-center h-5 cursor-default bg-orange-200">

      </div>
    </div>

    <div style="
               -webkit-box-pack: center;
               -webkit-box-align: center;
               background-color: rgba(0, 0, 0, 0.2);
               border-radius: 50%;
             " class="box-border absolute mt-2 top-0 flex justify-center items-center w-8 h-8 mr-2 right-0">
      <button type="button" style="
                 appearance: button;
                 font-family: Rubik, Roboto, Tajawal, -apple-system,
                   BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
                 border-radius: 64px;
                 border: 0px none rgb(17, 17, 17);
                 --size: 18px;
                 -webkit-box-pack: center;
                 -webkit-box-align: center;
                 background-color: rgba(0, 0, 0, 0);
               "
        class="cursor-pointer normal-case overflow-visible m-0 text-base leading-6 box-border p-0 w-4 h-4 relative flex justify-center items-center text-black">
        <svg height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
          aria-labelledby="HeartOutlineTitleID" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255)"
          class="stroke-0 overflow-hidden align-middle box-border w-full h-auto">
          <title style="box-sizing: border-box">
            HeartOutline Icon
          </title>
          <path fill-rule="evenodd"
            d="M2.405 12.33c-1.231-3.824.407-7.833 4.078-9.015a6.562 6.562 0 015.25.541l.263.158.268-.159a6.571 6.571 0 014.982-.619l.266.08c3.673 1.182 5.317 5.192 4.082 9.03a12.42 12.42 0 01-2.977 4.736 34.695 34.695 0 01-5.995 4.665l-.23.143a.732.732 0 01-.762.006l-.245-.147a34.717 34.717 0 01-6.005-4.673 12.427 12.427 0 01-2.975-4.747zm9.194-6.363l-.185-.132a4.784 4.784 0 00-4.162-.606c-2.664.856-3.872 3.808-2.94 6.696a10.232 10.232 0 002.448 3.899A31.118 31.118 0 0012.135 20L12 19.916l.438-.275a31.11 31.11 0 004.304-3.342l.495-.47a10.226 10.226 0 002.45-3.889c.934-2.9-.279-5.854-2.944-6.71a4.793 4.793 0 00-4.336.728.686.686 0 01-.81.009z"
            clip-rule="evenodd" style="box-sizing: border-box"></path>
        </svg>
      </button>
    </div>


    <div style="
               right: 20px; -webkit-box-align: center;
             " class="h-8 box-border flex items-center absolute bottom-0">
      <div style="
                 min-width: 32px;
                 border: 0px none rgb(17, 17, 17);
                 font-family: Rubik, Roboto, Tajawal, -apple-system,
                   BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
                 padding: 0px 6px;
                 -webkit-box-pack: center;
                 -webkit-box-align: center;
                 border-radius: 18px;
                 outline-width: 0px;
               "
        class="box-border leading-4 text-black flex justify-center items-center h-5 cursor-default bg-orange-200">

      </div>
    </div>
    <div style="
               -webkit-box-pack: center;
               -webkit-box-align: center;
               background-color: rgba(0, 0, 0, 0.2);
               border-radius: 50%;
             " class="box-border absolute mt-2 top-0 flex justify-center items-center w-8 h-8 mr-2 right-0">
      <button type="button" style="
                 appearance: button;
                 font-family: Rubik, Roboto, Tajawal, -apple-system,
                   BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
                 border-radius: 64px;
                 border: 0px none rgb(17, 17, 17);
                 --size: 18px;
                 -webkit-box-pack: center;
                 -webkit-box-align: center;
                 background-color: rgba(0, 0, 0, 0);
               "
        class="cursor-pointer normal-case overflow-visible m-0 text-base leading-6 box-border p-0 w-4 h-4 relative flex justify-center items-center text-black">
        <svg height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
          aria-labelledby="HeartOutlineTitleID" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255)"
          class="stroke-0 overflow-hidden align-middle box-border w-full h-auto">
          <title style="box-sizing: border-box">
            HeartOutline Icon
          </title>
          <path fill-rule="evenodd"
            d="M2.405 12.33c-1.231-3.824.407-7.833 4.078-9.015a6.562 6.562 0 015.25.541l.263.158.268-.159a6.571 6.571 0 014.982-.619l.266.08c3.673 1.182 5.317 5.192 4.082 9.03a12.42 12.42 0 01-2.977 4.736 34.695 34.695 0 01-5.995 4.665l-.23.143a.732.732 0 01-.762.006l-.245-.147a34.717 34.717 0 01-6.005-4.673 12.427 12.427 0 01-2.975-4.747zm9.194-6.363l-.185-.132a4.784 4.784 0 00-4.162-.606c-2.664.856-3.872 3.808-2.94 6.696a10.232 10.232 0 002.448 3.899A31.118 31.118 0 0012.135 20L12 19.916l.438-.275a31.11 31.11 0 004.304-3.342l.495-.47a10.226 10.226 0 002.45-3.889c.934-2.9-.279-5.854-2.944-6.71a4.793 4.793 0 00-4.336.728.686.686 0 01-.81.009z"
            clip-rule="evenodd" style="box-sizing: border-box"></path>
        </svg>
      </button>
    </div>
